* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  background-color: hsl(0, 0%, 90%);
}

.container {
  background-color: hotpink;
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.384);
  border-radius: 10px;
}

img {
  width: 100%;
}

.frontend-logo {
  width: 70%;
  display: block;
  border-radius: 15px;
}

.profile-photo {
  display: block;
}

.top-container {
  display: flex;
  align-items: center;
  gap: 2%;
  margin-bottom: 40px;
}

.photo-container {
  border-radius: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: rgb(106, 190, 205);
}

.buttons-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  padding: 5%;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgb(106, 190, 205);
  color: white;
  text-align: center;
  /* font-family: Helvetica; */
}

button:hover {
  font-size: 0;
  background-color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.438);
  color: rgb(0, 81, 95);
  padding: 5%;
  cursor: pointer;
  transition: 0.8s;
}

.recipe:hover {
  background-image: url('./Images/image-omelette.jpeg');
}

.social:hover {
  background-image: url('./Images/Profile-link.png');
  background-position: center;
}

.blog:hover {
  background-image: url('./Images/Blog-preview.png');
}

.faq:hover {
  background-image: url('./Images/faq.png');
}

.workit:hover {
  background-image: url('./Images/workit.png');
}

.results:hover {
  background-image: url('./Images/results.png');
}
.product-preview:hover {
  background-image: url('./Images/perfume1.jpg');
}

.skilled-elearning:hover {
  background-image: url('./Images/skilled-elearning.png');
}

.rating-component:hover {
  background-image: url(./Images/rating-component.png);
}

.qr-code:hover {
  background-image: url(./Images/qr-code-component.png);
}

.nft-preview:hover {
  background-image: url(./Images/nft-card.png);
}

.equalizer-landing:hover {
  background-image: url(./Images/equalizer-page.png);
}

.order-summary:hover {
  background-image: url(./Images/order-summary.png);
}

.stats-preview:hover {
  background-image: url('./Images/stats-preview-card.png');
}

.meet-landing:hover {
  background-image: url('./Images/meet-page.png');
}

.last-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.back-btn {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid rgb(106, 190, 205);
  color: rgb(106, 190, 205);
}

.back-btn:hover {
  background-color: rgb(106, 190, 205);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.2rem;
  box-shadow: none;
  transition: 0.3s;
}


@media (max-width: 700px) {
 body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  min-height: 0vh;
  background-color: hsl(0, 0%, 90%);
}

.container {
  background-color: hotpink;
  width: 100%;
  padding: 1rem;
  max-width: 1000px;
  background-color: hsl(0, 0%, 90%);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.384);
  border-radius: 10px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  margin-bottom: 40px;
}

.photo-container {
  width: 80%;
  margin-bottom: 20px;
}

.frontend-logo {
  width: 100%;
  margin-bottom: 0px;
}

.buttons-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.newbie:hover {
  background-color: white;
  border: 2px solid rgb(106, 190, 205);
  color: rgb(106, 190, 205);
  padding: 5%;
}

.junior:hover {
  background-color: white;
  border: 2px solid rgb(170, 215, 66);
  color: rgb(170, 215, 66);
  padding: 5%;
  cursor: pointer;
}

.inter:hover {
  background-color: white;
  border: 2px solid rgb(241, 182, 4);
  color: rgb(241, 182, 4);
  padding: 5%;
}

.advanced:hover {
  background-color: white;
  border: 2px solid rgb(244, 137, 37);
  color: rgb(244, 137, 37);
  padding: 5%;
}

}
